{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ if .Pages }}
  {{ range .Pages.ByDate.Reverse }}
    <article>
      <header>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <small>{{ .Date.Format "02.01.2006" }}</small>
      </header>

      {{ with .Params.summary }}
        <p>{{ . }}</p>
      {{ else }}
        <p>{{ .Summary }}</p>
      {{ end }}

      <p><a href="{{ .RelPermalink }}">Les mer</a></p>
    </article>
    <hr>
  {{ end }}
{{ else }}
  <p>Ingen nyheiter enda.</p>
{{ end }}

{{ end }}