---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { loadQuery } from "../../lib/sanity.js";
import { allNyheterQuery } from "../../lib/queries.js";

const alleNyheter = await loadQuery(allNyheterQuery);
---

<BaseLayout title="Nyheter">
  <h1>Nyheter</h1>
  {
    alleNyheter.length > 0 ? (
      <div class="list">
        {alleNyheter.map((n) => (
          <a class="list__item" href={`/nyheter/${n.slug}/`}>
            <div class="list__title">{n.title}</div>
            <div class="list__meta">
              {n.summary && <span class="list__summary">{n.summary}</span>}
              <span>
                {new Date(n.publishedAt).toLocaleDateString("nb-NO", {
                  day: "2-digit",
                  month: "long",
                  year: "numeric",
                })}
              </span>
            </div>
          </a>
        ))}
      </div>
    ) : (
      <p>Ingen nyheiter enda.</p>
    )
  }
</BaseLayout>
